.root-container-fluid {
    display: -webkit-flex;
    display: flex;
    padding: .625rem;
    border: .0625rem solid #ccc;
    margin-top: 54px;
}

.root-nav-left {
    width: 200px;
    border: .0625rem solid #ccc
}

.root-body {
    -webkit-flex: 1;
    flex: 1;
    padding-left: .625rem;
    border: .0625rem solid #0014F2;
    margin-left: 10px;
}